<div class="portfolio-media-item{% if used == true %} used{% else %} unused{% endif %}" data-edit="formMedia{{ line.id }}" data-media-id="{{ line.id }}">
    <img class="crud-column-media" src="{{asset(line.file)}}">
    {#<span>{{ line.getMetadata('title') }}</span>#}
    {#<span>{{ line.getMetadata('height') }}px</span>#}
    {#<span>{{ line.getMetadata('width') }}px</span></td>#}
    {#<span>{{ line.getMetadata('size') }}</span>#}
    {#<span>{{ line.type }}</span>#}
</div>
<hr>
<p>
    <a class="portfolio-toggle-edit on" href="{{ path('portfolio_edit', {id: line.id}) }}"><i class="icon-edit bigger-200"></i></a>&nbsp;
    <a class="portfolio-toggle-edit off" href="{{ path('portfolio_edit', {id: line.id}) }}" style="display:none"><i class="icon-edit bigger-200"></i></a>&nbsp;
    <a class="portfolio-toggle-use on" href="#"{% if used == false %} style="display:none"{% endif %}><i class="icon-heart bigger-200"></i></a>&nbsp;
    <a class="portfolio-toggle-use off" href="#"{% if used == true %} style="display:none"{% endif %}><i class="icon-heart-empty bigger-200"></i></a>&nbsp;
    <a class="portfolio-media-delete" href="{{ path('portfolio_delete', {id: line.id}) }}"><i class="icon-trash bigger-200"></i></a>
</p>
